#barAudio{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);  
    position: fixed;
    bottom: 0;

}

#barAudio #buttonAudio{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
}


#barAudio #buttonAudio i{
    cursor: pointer;
    font-size:calc(10px + 0.5vw);
    margin-right: 2%;
    color: white;
    
}


#barAudio #volume #iconVolume{
    width: 20px;
    margin-right: 10px;
    position: absolute;
    top: 62%;
    right: 12%;
}

#barAudio #volume #volumeSlider{
    margin-top: 8px;
    -webkit-appearance: none;
    border-radius: 10px;
    height: 3px;
    width: 10%;

    position: absolute;
    top: 62%;
    right: 2%;
}


#barAudio #conteneurTimeBar {   
    display: flex;
    align-items: center;
    justify-content: center;
}

#barAudio #timeBar{
    width: 45%;
    min-width: 20vh;
    display: flex;
    align-items: center;
    color: white;
}

#barAudio #timeBar #borderTimeBar{
    width: 100%;
    height: 3px;
    border: 2px solid white;

    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;margin-right: 10px;
   
}

#barAudio #timeBar #borderTimeBar #controllTimeBar{
    width: 0;
    height: 100%;
    background-color: white;
    border-radius: 10px;

}
 



#Music{
    display: flex;
    align-items:center;
    position:absolute;
    top:50%;

    transform: translateY(-50%);
    width: 10%;

    margin-left: 10px;
    

}

#Music > *{
    margin-right: 10px;
    color: white;
}

#Music img{
    width: 50%;

}

#Music #like{
    width: 20%;
    margin-left: 30px;


}



