/* reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'prestageregular';
    src: url('../font/prestage_regular-webfont.woff2') format('woff2'),
        url('../font/prestage_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    letter-spacing: -0.35px;
}


/*----------------------------------------------------*/

body {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}


.sidebar {
    background-color: rgba(4, 4, 4);
    padding: 1.5rem 1.5rem 0 1.5rem;
    /* 24px */
    position: fixed;
    height: 100%;
    width: 230px;
}

.sidebar .brand {
    padding-bottom: 1.125rem;
    display: flex;
    /*18px*/
}

.sidebar .brand img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.sidebar .brand h1 {
    margin-top: 20px;
    margin-left: 15px;
    color: white;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.sidebar .menu .menu--item a {
    text-decoration: none;
    color: #B3B3B3;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all 350ms;
}

.sidebar .menu .menu--item.active a,
.sidebar .menu .menu--item:hover a,
.sidebar .sidebar--download-app:hover a {
    color: #fff;
}

/* Active state of the menu  item, adds a background color to the element */
.sidebar .menu .menu--item.active:before {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    left: 8px;
    left: -16px;
    /* -(Sidebar's padding left) + 8px */
    right: -16px;
    /* -(Sidebar's padding left) + 8px */
    background: rgb(40, 40, 40);
    z-index: -1;
    border-radius: 5px;
}

.menu--item--text {
    font-size: 0.88rem;
    font-weight: 700;
    margin-left: 15px;
}

.sidebar--header {
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 0.68rem;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}


/* Start the menu item with a gray color */
.sidebar .menu .menu--item a {
    color: #B3B3B3;
    transition: all 350ms;
}

/* When the user hovers -> change the color */
.sidebar .menu .menu--item.active a,
.sidebar .menu .menu--item:hover a {
    color: #fff;
}

/*
    Changing the opacity of the image gives the brighter effect. This happens because the background is dark.
*/
.sidebar .menu.menu-extra .menu--item a img,
.sidebar .menu .menu--item a img {
    opacity: 0.7;
    transition: all 350ms;
}

.sidebar .menu.menu-extra .menu--item:hover a img,
.sidebar .menu .menu--item:hover a img {
    opacity: 1;
}

.sidebar .playlist-sidebar-img{
    opacity: 1;
    object-fit: cover;
    height: 25px;
    width: 25px;
}

main {
    padding: 60px 0px 11px 230px;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(18, 18, 18);
    color: white;
    font-weight: 700;
}

.header {
    position: fixed;
    top: 0;
    left: 230px;
    /* sidebar width */
    right: 0;
    height: 60px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 1;
    background-color: rgb(54 54 54)
}

.header--buttons--right button {
    background-color: rgb(18, 18, 18);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    margin: 5px;
    font-weight: bold;
}

.header--buttons--right button:hover {
    background-color: #3c2346;
    transition: all 0.2s ease;
}

.header--buttons--right button:hover {
    cursor: pointer;
}

.header--button {
    background: rgb(7, 7, 7);
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    cursor: pointer;
    outline: 0;
}

.header--button.previous {
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #909090;
}

::-webkit-scrollbar-track {
    background-color: rgb(18, 18, 18);
}

/*affichage*/

#musiquesContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

#userContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}


.label {
    padding: 13px 10px;
    font-size: 20px;
}

/*Haut Playlist*/

.infosPlaylist {
    display: flex;
    background: linear-gradient(#535353, rgb(18, 18, 18));
}

.nomPlaylist {
    font-size: 300%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagePlaylist {
    width: 220px;
}

.imagePlaylist img {
    object-fit: cover;
    width: 220px;
    height: 220px;
}

.texteInfoPlaylist {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.texteInfoPlaylist .auteurPlaylist {
    color: #dfdfdf;
}

/*Playlist */

.playlistIndex:hover {
    background-color: #2b2b2b;
    transition: all 0.5s ease;
}

#playlistsContainer {
    display: flex;
    flex-direction: column;
}

.playlistsContainerWrap {
    display: flex;
    flex-wrap: wrap;
}

.imagePlaylistWrap img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.nomPlaylistIndex {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 140%;
}

.auteurPlaylistIndex {
    text-decoration: none;
    padding: 5px;
    color: #B3B3B3;

}

/*Musique*/

.musique {
    display: flex;
    height: 100px;
}

.musique:hover {
    background-color: #2b2b2b;
    transition: all 0.5s ease;
}

.texteMusique {
    flex: auto;
    padding: 5px;
}

.texteMusique .nomMusique {
    font-size: 140%;
    display: auto;
}

.texteMusique .auteurMusique {
    color: #B3B3B3;
}

.texteMusique .genreMusique {
    color: #B3B3B3;
}


.imageMusique {
    width: 100px;
}

.imageMusique img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.dureeMusique {
    padding-right: 20px;
}

.musique button {
    height: 30px;
    width: 30px;
    border: 0px;
    border-radius: 25%;
    font-size: 16px;
    font-weight: bold;
    background-color: #353232;
    color: white;
}

.musique button:hover {
    background-color: #5d366d;
    transition: all 0.5s ease;
}

/*Users*/

.user {
    display: flex;
    height: 100px;
}

.user:hover {
    background-color: #2b2b2b;
    transition: all 0.5s ease;
}

.texteUser {
    flex: auto;
    padding: 5px;
}

.texteUser .loginUser {
    font-size: 140%;
    display: auto;
}

.texteUser .idUser {
    color: #B3B3B3;
}

.texteUser .emailUser {
    color: #B3B3B3;
}

.user button {
    height: 30px;
    width: 30px;
    border: 0px;
    border-radius: 25%;
    font-size: 16px;
    font-weight: bold;
    background-color: #353232;
    color: white;
}

.user button:hover {
    background-color: #5d366d;
    transition: all 0.5s ease;
}

.labelUser {
    padding: 10px;
    text-align: center;
    font-size: 150%;
}

/*Suggestions*/

#suggestionsContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.suggestionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.suggestion {
    display: flex;
    height: 110px;
}

.suggestion:hover {
    background-color: #2b2b2b;
    transition: all 0.5s ease;
}

.texteSuggestion {
    flex: auto;
    padding: 5px;
}

.texteSuggestion .musiqueSuggestion {
    font-size: 140%;
    display: auto;
}

.texteSuggestion .artisteSuggestion,
.texteSuggestion .commentaireSuggestion {
    color: #B3B3B3;
    padding-top: 0.5%;
}

.texteSuggestion .utilisateurSuggestion {
    color: #B3B3B3;
    font-size: 80%;
    padding-top: 1%;
}

.suggestion button {
    height: 30px;
    width: 30px;
    border: 0px;
    border-radius: 25%;
    font-size: 16px;
    font-weight: bold;
    background-color: #353232;
    color: white;
}

.suggestion button:hover {
    background-color: #5d366d;
    transition: all 0.5s ease;
}

.labelSuggestion {
    padding: 10px;
    text-align: center;
    font-size: 150%;
}

/*formulaire*/

.formPlaylist {
    background-color: rgb(59, 59, 59);
    position: absolute;
    top: 100px;
    left: 500px;
    display: none;
}

.formPlaylist p {
    margin: 20px;
}

.formPlaylist input {
    margin: 20px;
}

.formPlaylist fieldset {
    margin: 20px;
}

.formPlaylist button {
    margin: 20px;
}

/*Page d'erreur */

.erreur-container {
    height: 200px;
    display: flex;
    justify-content: center;
}

.erreur-container p {
    margin: auto;
    font-size: 25px;
}

.empty-search {
    height: 50px;
    display: flex;
    justify-content: center;
}


/*Historique*/
.infosHistoric {
    display: flex;
    background: linear-gradient(#520635, rgb(18, 18, 18));
    justify-content: center;
    height: 25vh;
    margin-bottom: 30px;
}

.auteurHistoric{
    font-size: 13px;
    margin-left: 12px;
}

.textDate{
    margin-top: 20px;
    color:#353232;
    
}