body {
    padding: 0;
    margin: 0;
    background: url(../login/fondNoir.jpg);

    background-size: 100%;
}

.inner-container {
    min-width: 400px;
    min-height: 600px;
    position: absolute;
    top: calc(35vh - 200px);
    left: calc(50vw - 200px);
    overflow: hidden;
    background-color: black;
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    background: rgba(0, 0, 0, 0.13);
    padding: 30px 0px;
}

.box h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
    border-bottom: 1px solid white;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}

.box button {
    background: #440342;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.box button:active {
    background: black;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p span {
    cursor: pointer;
    color: #666;
}